@model AutoSalonGrida.Models.ViewModels.CarFormViewModel
@{ ViewData["Title"] = "Create Car"; }
<h1>Create Car</h1>
<partial name="_CarForm" model="Model" />

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
