@model AutoSalonGrida.Models.ViewModels.CarFormViewModel
@{ ViewData["Title"] = "Edit Car"; }
<h1>Edit Car</h1>
<partial name="_CarForm" model="Model" />

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
